server:
  port: 8083

spring:
  application:
    name: rating-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ratingdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: ratingEvent:com.courseplatform.common.dto.RatingEvent

kafka:
  topic:
    ratings: ratings

services:
  user-service:
    url: http://localhost:8081
  course-service:
    url: http://localhost:8082

logging:
  level:
    com.courseplatform: DEBUG
    org.springframework.kafka: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
